{% extends 'layout.html' %}
{% block body %}
<div id="title" class="container-fluid">
    <div class="pt-auto p-3 m-auto">
        <span id="title-txt" class="d-block shadow p-3 bg-secondary text-white">Configuration</span>
    </div>
</div>
<div id="config" class="container-fluid">
    <div id="options" class="mt-3 mb-auto">
        <div id="options-grid" class="d-grid gap-3">
            <div id="option-row-1" class="row">
                <div class="col-sm-3">
                    <div id="flightradar-un" class="card border-dark shadow-lg">
                        <div class="p-3 mx-auto">
                            <div class="card-body">
                                <h5 class="card-title">FlightRadar24 setup</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Username: {{ config.FLIGHTRADAR_USERNAME }}</h6>
                                <p class="card-text mb-2">Setup username to log in to FlightRadar24</p>
                                <div class="my-4">
                                    <form class="row g-3" method="post">
                                        {{ usr_form.csrf_token }}
                                        <div class="col-auto">
                                            <label for="fr-un-input" class="visually-hidden">email</label>
                                            {{ usr_form.email }}
                                        </div>
                                        <div class="col-auto">
                                            {% if usr_form.email.errors %}
                                            <ul class="list-group list-group-flush list-group-numbered">
                                                {% for error in usr_form.email.errors %}
                                                <li class="list-group-item list-group-item-danger">
                                                    {{ error|safe }}
                                                </li>
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                        </div>
                                        <div class="col-auto">
                                            {{ usr_form.email_submit }}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div id="flightradar-pwd" class="card border-dark shadow-lg">
                        <div class="p-3 mx-auto">
                            <div class="card-body">
                                <h5 class="card-title">FlightRadar24 setup</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Password: {% if config.FLIGHTRADAR_PASSWORD %}set{% endif %}</h6>
                                <p class="card-text mb-2">Setup password to log in to FlightRadar24</p>
                                <div class="my-4">
                                    <form class="row g-3" method="post">
                                        {{ pwd_form.csrf_token }}
                                        <div class="col-auto">
                                            <label for="fr-pwd-input" class="visually-hidden">password</label>
                                            {{ pwd_form.pwd }}
                                        </div>
                                        <div class="col-auto">
                                            {% if pwd_form.pwd.errors %}
                                            <ul class="list-group list-group-flush list-group-numbered">
                                                {% for error in pwd_form.pwd.errors %}
                                                <li class="list-group-item list-group-item-danger">
                                                    {{ error|safe }}
                                                </li>
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                        </div>
                                        <div class="col-auto">
                                            {{ pwd_form.pwd_submit }}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div id="table-refresh" class="card border-dark shadow-lg">
                        <div class="p-3 mx-auto">
                            <div class="card-body">
                                <h5 class="card-title mb-2">Refresh Route Table</h5>
                                <p class="card-text mb-2">Update routes table for current airline flight ops</p>
                                <div class="my-4">
                                    <form class="row g-3" method="post">
                                        <div class="col-auto mx-auto">
                                            <input type="hidden" name="data-refresh-table" value="refresh-table"/>
                                            <button type="submit" class="btn btn-primary mb-3">Refresh</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="option-row-2" class="row">
                <div class="col-sm-3">
                    <div id="route-integration" class="card border-dark shadow-lg">
                        <div class="p-3 mx-auto">
                            <div class="card-body">
                                <h5 class="card-title">Route Generation Integration</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Current Status: {{ config.NAVIGRAPH_ENABLED }}</h6>
                                <p class="card-text mb-2">
                                    Set whether route generation options thru simbrief will be enabled or not <b>(Requires active navigraph subscription)</b> <b>INOP. COMING IN A LATER RELEASE</b> 
                                </p>
                                <div class="my-4">
                                    <form class="row g-3" method="post">
                                        <div class="btn-group" role="group" aria-label="route generator enabler">
                                            <form method="post">
                                            {{ navigraph_form.enable }}
                                            {{ navigraph_form.disable }}
                                            </form>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if config.NAVIGRAPH_ENABLED == "Enabled" %}
                <div class="col-sm-3">
                    <div id="navigraph-un" class="card border-dark shadow-lg">
                        <div class="p-3 mx-auto">
                            <div class="card-body">
                                <h5 class="card-title">Navigraph Username</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Username: </h6>
                                <p class="card-text mb-2">Set Navigraph username to log in &emsp; <b>INOP</b></p>
                                <div class="my-4">
                                    <form class="row g-3" method="post">
                                        <div class="col-auto">
                                            <label for="nav-un-input" class="visually-hidden">Username</label>
                                            <input id="nav-un-input" type="text" class="form-control-sm" placeholder="Username" />                                        
                                        </div>
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-primary mb-3">Confirm</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div id="navigraph-pwd" class="card border-dark shadow-lg">
                        <div class="p-3 mx-auto">
                            <div class="card-body">
                                <h5 class="card-title">Navigraph Password</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Password: </h6>
                                <p class="card-text mb-2">Set Navigraph password to log in &emsp; <b>INOP</b></p>
                                <div class="my-4">
                                    <form class="row g-3" method="post">
                                        <div class="col-auto">
                                            <label for="nav-pwd-input" class="visually-hidden">Password</label>
                                            <input />
                                        </div>
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-primary mb-3">Confirm</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}