{% extends 'layout.html' %}
{% block style %}
<style>
    .grey-te-highlight {
    background-color: rgba(86,61,124,0.15);
    border: 1px solid rgba(86,61,124,0.15);
    }

    .start-35 {
        left: 35%!important;
    }
</style>
{% endblock %}
{% block body %}
<script>
    $(document).ready(function(){
        let api_url;

        function getFilter () {
            let id_list = ["#ac-type-check", "#callsign-check", "#origin-check", "#dest-check"];
            let filter;


            for (let i = 0; i < id_list.length; i++) {
                var id = id_list[i];

                let val = $(`input:radio[name=search-check]${id}:checked`).val();

                if(val) {
                    if(id == "#ac-type-check") {
                        filter = "a/c";
                        break;
                    }
                    else if(id == "#callsign-check"){
                        filter = "callsign";
                        break;
                    } else if (id == "#origin-check") {
                        filter = "origin";
                        break;
                    } else if(id == "#dest-check") {
                        filter = "destination";
                        break;
                    }
                }
            }

            return filter;
        }

        $("input#tbl-search").on('input', (e) => {
            api_url = "{{ url_for('api.active_search') }}"

            const res = $.ajax({
                url: api_url,
                method: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                data: {
                    'query': e.target.value.toUpperCase()
                }
            });

            res.done(function(data) {


                let filter = getFilter();

                if (data.invalid) {
                    let items = [];
                    
                    data.errors.forEach(error => {
                        items.push(`<li class="list-group-item list-group-item-danger"> ${error} </li>`);
                    });

                    $("#live-search-errs-list").html(items.toString());
                } else {
                    $("#live-search-errs-list").empty();

                    $("#airline-table tbody tr").each(function(){
                        let children = $(this).children().toArray();

                        for (let i = 0; i < children.length; i++) {
                            let elem = children[i];
                            let filter_attr = $(elem).attr("data-search-type");
                            let elem_data = $(elem).attr("data-search-id");

                            if(filter_attr == filter) {
                                if(elem_data.includes(data.query)) {
                                    $(elem).parent().show();
                                } else {
                                    $(elem).parent().hide();
                                }
                                break;
                            }
                        }
                    });
                }
            });
        });
    });
</script>
<div id="intro" class="container-fluid">
    <div id="desc" class="mt-3 mb-3">
        <div id="desc-header" class="mx-auto">
            <span id="header-text" class="d-block shadow p-3 bg-secondary text-white">Usage of Tool</span>
        </div>
        <div id="desc-txt" class="mt-2 p-3 mx-auto">
            <p class="text-center fs-4 text-break">
                This tool is aimed to help you decide on a route to do if your stuck. Through accessing real-life data of current flights, it is able to provide the aircraft type, callsign, origin airport, and destination airport. You are able to search by using the icao, name, and code of airports thru the input below. 
            </p>
        </div>
    </div>
</div>
<div id="airline-form" class="container-fluid">
    <div id="form-spacer" class="mt-3 mb-3">
        <div id="form-header" class="mx-auto">
            <span id="form-header" class="d-block shadow p-3 bg-secondary text-white lh-sm">Init Tool</span>
        </div>
        <div id="form-body" class="mt-2 mb-3 p-3 mx-auto">
            <form id="airline-root-form" class="row g-3" method="POST">
                {{ initializer_form.csrf_token }}
                <div class="col-auto">
                    <label for="airline-input">
                        <p class="text-start fs-6 fw-lighter text-decoration-underline">Airline ICAO: </p>
                    </label>
                    {{ initializer_form.initializer }}
                    <div class="position-relative">
                        <div id="airline-help" class="position-absolute start-35 form-text">
                            Enter airline ICAO, Code, or name
                        </div>
                    </div>
                    <div id="errs" class="mt-5">
                        {% if initializer_form.initializer.errors %}
                        <ul class="list-group list-group-flush list-group-numbered">
                            {% for error in initializer_form.initializer.errors %}
                            <li class="list-group-item list-group-item-danger">
                                {{ error|safe }}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-auto">
                    {{ initializer_form.submit_btn }}
                </div>
            </form>
        </div>
    </div>
</div>

<!--Div below: For routes table-->
<div id="routes-table" class="container-fluid overflow-hidden">
    <div id="table spacer" class="mt-5 mb-3">
        <span id="table-header" class="d-block shadow p-3 bg-secondary text-white lh-sm">Result:</span>
    </div>
    <div id="table" class="mt-2 mx-auto">
        <div class="table-responsive">
            <table id="airline-table" class="table table-borderless table-striped table-sm caption-top">
                        <caption>
                                <p class="text-center fw-bolder text-decoration-underline grey-te-highlight">Airline: {% if config.AIRLINE_LIST %}{{ config.AIRLINE_LIST.get("name") }}  ({{ config.AIRLINE_LIST.get("code") }}){% else %} None {% endif %}</p>
                        </caption>
                <thead>
                    <div class="p-3 m-3">
                        <form id="airline-tbl-search" class="g-3">
                            <label for="tbl-search">
                                <p class="text-start fs-6 fw-lighter text-decoration-underline">Search: </p>
                            </label>
                            <input id="tbl-search" type="text" placeholder="Type keyword... (can be callsign, origin, destination, aircraft type)"  maxlength="20" class="form-control" aria-describedby="live-search-lbl" />
                            <div id="live-search-errs" class="mt-5">
                                <ul id="live-search-errs-list" class="list-group list-group-flush list-group-numbered"></ul>
                            </div>
                            <div id="live-search-checks-header" class="p-3">
                                <p class="text-start fs-2 fw-bold">Filter By:</p>
                            </div>
                            <div id="live-search-checks-ac-type" class="form-check form-check-inline">
                                <input id="ac-type-check" class="form-check-input" type="radio" name="search-check" checked/>
                                <label for="ac-type-check" class="fom-check-label">
                                    A/C Type
                                </label>
                            </div>
                            <div id="live-search-checks-callsign" class="form-check form-check-inline">
                                <input id="callsign-check" class="form-check-input" type="radio" name="search-check"/>
                                <label for="callsign-check" class="form-check-label">
                                    Callsign
                                </label>
                            </div>
                            <div id="live-search-checks-origin" class="form-check form-check-inline">
                                <input id="origin-check" class="form-check-input" type="radio" name="search-check" />
                                <label for="origin-check" class="form-check-label">
                                    Origin
                                </label>
                            </div>
                            <div id="live-search-checks-dest" class="form-check form-check-inline">
                                <input id="dest-check" class="form-check-input" type="radio" name="search-check" />
                                <label for="dest-check" class="form-check-label">
                                    Destination
                                </label>
                            </div>
                        </form>
                    </div>
                    <tr>
                        <th scope="col" class="p-0">A/C Type</th>
                        <th scope="col" class="p-0">Callsign</th>
                        <th scope="col" class="p-0">Origin</th>
                        <th scope="col" class="p-0">Destination</th>
                    </tr>
                </thead>
                <tbody>
                    {% if config.AIRLINE_LIST %}
                    {% for route in config.AIRLINE_LIST %}
                    <tr>
                        <th data-search-type="a/c" data-search-id="{{ route.actype }}" scope="row" class="p-2">{{ route.actype }}</th>
                        <td data-search-type="callsign" data-search-id="{{ route.callsign }}" class="p-2">{{ route.callsign }}</td>
                        <td data-search-type="origin" data-search-id="{{ route.origin }}" class="p-2">{{ route.origin }}</td>
                        <td data-search-type="destination" data-search-id="{{ route.destination }}" class="p-2">{{ route.destination }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}